
<div  class="row mt-4">
    <div class="col-lg-4 offset-lg-4 "  >

        <div class="card border-dark mb-3" style="max-width: 20rem;">
            <div class="card-header text-center">{{operacion}} Plazo</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="addPeriod()" >
                    <div>
                        <label for="description" class="form-label mt-2">Descripción: </label>
                        <input formControlName="description" type="text" class="form-control" id="description"  placeholder="Ingresa la descripción del plazo"> 
                        <span *ngIf="form.get('description')?.hasError('required') && form.get('description')?.touched">
                            El Campo Descripción es <strong>Obligatorio</strong>
                        </span>
                    </div>
                   
                    <div>
                        <button [disabled]="form.invalid" type="submit" class="btn btn-success btn-sm ms-5 mt-4" > Guardar</button >
                        <button routerLink="/cliente" type="button" class="btn btn-danger btn-sm ms-3 mt-4 "> Volver</button>
                    </div>

                </form>
          </div>

    </div>
</div>


</div>


