
<div  class="row mt-4">
    <div class="col-lg-4 offset-lg-4 "  >

        <div class="card border-dark mb-3" style="max-width: 20rem;">
            <div class="card-header text-center">{{operacion}} Plazo</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="addLoan()" >
                    <div>
                        <select class="form-select mt-4" id="exampleSelect1" formControlName="idClient">
                          <option value="">Seleccionar Cliente</option>
                          <option *ngFor="let client of clients" [value]="client.idClient">{{ client.nameClient }}</option>
                          <span *ngIf="form.get('idClient')?.hasError('required') && form.get('idClient')?.touched">
                            El Campo Cliente es <strong>Obligatorio</strong>
                        </span>
                        </select>
                        <select class="form-select mt-4" id="exampleSelect2" formControlName="idAmount">
                          <option value="">Seleccionar Monto</option>
                          <option *ngFor="let amount of amounts" [value]="amount.idAmount">{{ amount.totalAmount }}</option>
                          <span *ngIf="form.get('idAmount')?.hasError('required') && form.get('idAmount')?.touched">
                            El Campo Monto es <strong>Obligatorio</strong>
                        </span>
                        </select>
                        <select class="form-select mt-4" id="exampleSelect3" formControlName="idPeriod">
                          <option value="">Seleccionar Plazo</option>
                          <option *ngFor="let period of periods" [value]="period.idPeriod">{{ period.description }}</option>
                          <span *ngIf="form.get('idPeriod')?.hasError('required') && form.get('idPeriod')?.touched">
                            El Campo Plazo es <strong>Obligatorio</strong>
                        </span>
                        </select>
                      </div>
                    <div>
                        <button [disabled]="form.invalid" type="submit" class="btn btn-success btn-sm ms-5 mt-4" > Guardar</button >
                        <button routerLink="/cliente" type="button" class="btn btn-danger btn-sm ms-3 mt-4 "> Volver</button>
                    </div>

                </form>
          </div>

    </div>
</div>


</div>
